{% extends 'base.html.twig' %}

{% block title %}New Motdepasse{% endblock %}

{% block body %}

    <div class="passForm">
    
        <h1 class="titre titre--48"> Ajouter un compte</h1>

        {{ include('motdepasse/_form.html.twig') }}

        <a class="buttonL button--neutral" href="{{ path('app_motdepasse_index') }}">
            Retour
        </a>

    </div>


{% endblock %}
