@use '../../abstract/' as *;

.passForm{
    @extend %flex-center-column;
    gap: 3rem;
    padding-block: 2rem;
    color: white;

    form[name="motdepasse"]{
        @extend %flex-center-column;
        gap: 1rem;
        width: max(300px, 50vw);
        background-color: rgba(0,0,0,0.4);
        padding-block: 2rem;
        padding-inline: 2rem;


        input[type="text"]{
            width: max(268px, 40vw);
            height: 2.5rem;
            border: 1px solid #000000;
            padding-inline: 1rem;
        }

        input[type="password"]{
            width: max(268px, 40vw);
            height: 2.5rem;
            border: 1px solid #000000;
            padding-inline: 1rem;
        }

        .form-checkbox{

            @extend %flex-center-column;
            align-items: start;
            padding-inline-start: 1rem;
            gap: 0.5rem;

            input[type="checkbox"]{
                
                margin-inline-end: 1rem; 
            }
        }
    }
    .btn--row{
        display: flex;
        gap: 15px;
    }
}   

    .modal--wrapper__nodisplay{
        display: none;
    }

    .modal--wrapper__display{
        position: fixed ;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 1;
        background-color: #0000004e;
        @extend %flex-center;

        .modal{
            background: rgb(235, 228, 228);
            width: 60vw;
            
            border-radius: 25px;

            h1{
                color: #000000;
                margin: 1rem;
            }

            p{
                background-color: rgb(122, 156, 156);
                width: 50%;
                margin-inline: auto;
                text-align: center;
                padding: 10px;
            }
            
            
            label{
                color: black;
            }
            
            form{
                @extend %flex-center-column;
                gap: 30px;
                margin: 10px;

                .length--wrapper{
                    @extend %flex-center;
                    gap: 5px;
                }

                input[type="number"]{
                    width: 10%;
                }
                
                .checkbox--form{
                    @extend %flex-center;
                    gap: 15px;
                }
                
                input[type="checkbox"]{
                    appearance: none;
                }
                
                .checkbox--wrapper{
                    padding: 4px;
                    border-radius: 5px;
                    padding-right: 6px;
                    cursor: pointer;
                    transition: 
                    background-color 0.2s ease-in,
                    color 0.2s ease-in,
                    outline 0.25s ease-in;
                    
                    label{
                        cursor: pointer;
                        pointer-events: none;
                    }
                }
                .hoverout{
                    background-color: rgb(255, 255, 255);
                    outline: 2px solid black;
                    
                    }
                    .hover{
                        background-color: $primary-55;
                        outline: 5px solid;
                        
                    }
                .button--container{
                    @extend %flex-center;
                    flex-direction: row;
                    gap: 10vw;
                }
                
            }
        } 
    }
    
    
    
    