@use '../../abstract/' as *;

.passForm{
    @extend %flex-center-column;
    gap: 3rem;
    padding-block: 2rem;
    color: white;

    form[name="motdepasse"]{
        @extend %flex-center-column;
        gap: 1rem;
        width: max(300px, 50vw);
        background-color: rgba(0,0,0,0.4);
        padding-block: 2rem;
        padding-inline: 2rem;


        input[type="text"]{
            width: max(268px, 40vw);
            height: 2.5rem;
            border: 1px solid #000000;
            padding-inline: 1rem;
            
        
        }

        .form-checkbox{

            @extend %flex-center-column;
            align-items: start;
            padding-inline-start: 1rem;
            gap: 0.5rem;

            input[type="checkbox"]{
                
                margin-inline-end: 1rem; 
            }
        }
    }


}