@use '../../abstract/' as *;

.indexMdp{
    @extend %flex-center-column;
    gap: 2rem;
    padding-block:2rem; 
    padding-inline: 3rem;
    
    .buttonContainer{

        @extend %flex-center;
        gap: 2rem;
    }
    
    .mdpindex{
        display:grid;
        grid-template-columns: repeat(auto-fill, minmax(270px,1fr));
        grid-gap:20px;
        padding-block:2rem; 
        place-items: center;
        justify-items: center;
        width: max(calc(320px - 1rem),90vw);
    }
    
    
    .card{
        @extend %flex-center-column;
        justify-content: space-around;
        // height: 100%;
        
        background-color: hsla(0, 1%, 14%, 0.21);
        width: 270px;
        height: 350px ;
        
        box-shadow: -3px 6px 13px 1px rgba(15,27,62,0.47);
        backdrop-filter: blur(3.5px);
        border-radius: 25px;
        padding-block: 1rem;
        
        transition: box-shadow 0.25s ease-in-out, background-color 0.25s ease-in-out, transform 0.25s ease-in-out;
        
        &:hover{
            background-color: hsla(0, 1%, 14%, 0.5);
            box-shadow: 0px 10px 13px 1px rgba(15,27,62,0.57);
            transform: translateY(-0.5rem);
        }
        
        
        
        
        &__title{
            @extend %flex-center;

        }

        &__info{
            @extend %flex-center-column;
            gap: 0.125rem;
        }
        &__buttonContainer{
            display: flex;
            justify-content: space-between;
            gap: 20px;
            
          
            
        }
        input{
            height: 3rem;
            background-color: hsla(0, 1%, 14%, 0.11);
            border-radius: 10px;
            border: 1px solid  hsla(0, 1%, 14%, 0.31);
            border: 0;
            text-align: center;
        }
    }

    
}