{% extends 'base.html.twig' %}

{% block title %}New Confidentialite{% endblock %}

{% block body %}
    <h1>Create new Confidentialite</h1>

    {{ include('confidentialite/_form.html.twig') }}

    <a href="{{ path('app_confidentialite_index') }}">retour</a>
{% endblock %}
