header{
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: relative;
    height : 100px;
}

main{
    padding-top: 50px;
    min-height: 80vh;
}

