@use '../abstract/' as *;

*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Nunito;
    font-size: 16px;
}
a{
    text-decoration: none;
    color: black;

    &::hover{
     color: black;   
    }
}

h1,h2,h3,h4{
    font-family: $title;
    text-align: center;

}
