@use '../abstract/' as *;

@font-face {
    font-family: Nunito;
    src: url(../../fonts/Nunito/Nunito-Regular.ttf);
}
@font-face {
    font-family: NunitoBold;
    src: url(../../fonts/Nunito/Nunito-Bold.ttf);
}
@font-face {
    font-family: NunitoSemiBold;
    src: url(../../fonts/Nunito/Nunito-SemiBold.ttf);
}
@font-face {
    font-family: NunitoExtraBold;
    src: url(../../fonts/Nunito/Nunito-ExtraBold.ttf);
}
.titre{
    font-size: clamp(1.5rem, 0.84rem + 3.2vw, 3rem);
    line-height: 1.618em;
    letter-spacing: 0.15rem;
    text-align: center;
    color: white;
    font-family: NunitoBold;
    padding-block: 40px;
    text-transform: uppercase;
}
.sous-titre{
    font-size: clamp(1rem, 0.56rem + 2.1333vw, 2rem);
    text-align: center;
    font-family: NunitoSemiBold;
    padding-block: 20px;
    color: white;

    &-log{
        font-size: clamp(1.125rem, 0.85rem + 1.3333vw, 1.75rem);
        color: black;
    }
}
.sous-titre-modal{
    font-size: clamp(1rem, 0.56rem + 2.1333vw, 2rem);
    line-height: 1.618em;
    letter-spacing: 0.05rem;
    text-align: center;
    font-family: NunitoExtraBold;
    padding-block: 20px;
    color: black;
}

.texte{
    font-family: NunitoSemiBold;
    // font-size: clamp(0.9375rem, 0.525rem + 2vw, 1.875rem);
    font-size: clamp(1rem, 0.78rem + 1.0667vw, 1.5rem);
    
    line-height: 41px;
    color: white;

    &-log{
        color: black;
        line-height: 21px;
        text-align: start;

        &-date{
            color: #404040;
            font-size: clamp(0.875rem, 0.71rem + 0.8vw, 1.25rem);
        }
    }
}

.date{
    font-family: NunitoBold;
    font-size: 24px;
    color: #404040;
}
.site{
    text-align: center;
    font-family: Nunito;
    font-size: 16px;
    color: black;
}
.username{
    text-align: center;
    font-family: Nunito;
    font-size: 18px;
    color: black;
}
.mdp{
    text-align: center;
    font-family: NunitoBold;
    font-size: 16px;
    color: white;
    }
.text-input{
    color: hsla(0, 0%, 0%, 0.8);
    font-size: 20px;
    font-family: Nunito;
    
}


    
    
    