@use ''

@font-face {
    font-family: Oswald;
    src: url(../../fonts/Oswald/Oswald-VariableFont_wght.ttf);
}
@font-face {
    font-family: Comfortaa;
    src: url(../../fonts/Comfortaa/Comfortaa-VariableFont_wght.ttf);
}

.titre1{
    font-size: 1rem;
    font-family: $title;

}