
@use '../abstract/' as *;

// .buttonL{
//     border-radius: 10px;
//     padding: 1.25em 2em;
//     display: block;
//     font-size: $text-size-16;
// }
// .buttonM{
//     border-radius: 10px;
//     padding: 10px;
//     display: block;
//     font-size: $text-size-16;
// }
// .buttonS{
//     border-radius: 10px;
//     padding: 5px;
//     display: block;
//     font-size: $text-size-14;
// }

.button{

    &M{
        border-radius: 10px;
        padding: 10px;
        display: block;
        font-size: $text-size-16;
        transition: all 0.4s ease-in-out ;
        
    }

    &L{
        border-radius: 10px;
        padding: 1.25em 1.5em;
        display: block;
        font-size: $text-size-16;
        transition: all 0.4s ease-in-out ;
    }

    &S{
        border-radius: 10px;
        padding: 5px;
        display: block;
        font-size: $text-size-14;
        transition: all 0.4s ease-in-out ;
    }

    &--primary{
        color: white;
        background-color: $primary-25;
    
        &:hover{
            background-color: $primary-15;
        }
    }

    &--danger{
        color: $danger-25;
        background-color: white;
        border: 4px $danger-25 solid ;
    }

    &--neutral{
        background-color: $secondary-5;
        color: white;


        &:hover{
            background-color: #ffff;
            border: 2px $secondary-5 solid;
            color: $secondary-5;
        }
    }
        
    &--success{
        background-color: $success-25;
        color: white;

        &:hover{
            background-color: $success-15;
        }
    }

    &--transparent{
        @extend %flex-center;
        background-color: hsla(0, 0%, 0%, 0.40);
        border-radius: 6px;
        box-shadow: 0px 3px 4px #0F1B3E;
        backdrop-filter: blur(8.5px);
        padding: 0.7rem;
        color: white;
        font-size: min(16px, 50px);
    }
}



