
@use '../abstract/' as *;


.btn{
    cursor: pointer;
    border: none;

    &-large{
        text-align: center;
        @extend %flex-center;
        background: #FFFFFF;
        border-radius: 35px;
        padding: 32px 40px;
        min-width: 246.8px;
        color: black;
        font-size: clamp(1rem, 0.89rem + 0.5333vw, 1.25rem);
        font-family: NunitoBold;
        transition: color 0.4s ease, background 0.4s ease;
        
        
        &:hover{
            color: white;
            background: black;
        }
    }
    &-card{
        text-align: center;
        font-family: NunitoSemiBold;
        width: 90px;
        padding: 7px 15px;
        color: white;
        background-color: $primary-45;
        border-radius: 15px;
        transition: background 0.4s ease;
        
        &:hover{
            background-color: $primary-25
        }
        &-danger{
        text-align: center;
        font-family: NunitoSemiBold;
        
        padding: 7px 15px;
        color: white;
        background-color: #B92D2D;
        border-radius: 15px;
        transition: background 0.4s ease;
        }
    }
    &-modal{
        @extend %flex-center;
        border-radius: 6px;
        padding: 11px 18px;
        background-color: $secondary-5;
        color: #FFFFFF;
        transition: color 0.4s ease, background 0.4s ease;
        
        &-primary{
            @extend %flex-center;
            border-radius: 6px;
            padding: 11px 18px;
            background-color: $primary-45;
            color: #FFFFFF;
            transition: outline 0.4s ease, background 0.4s ease;
            
            &:hover{
                outline: 1.5px solid $primary-25;
                color: $primary-45;
                background-color: transparent;
            }
        }
        &:hover{
            outline: 1px solid black;
            color: black;
            background-color: transparent;
        }
    }
    &-navi{
        
        &-primary{
            padding: 8px 20px;
            border-radius: 11px ;
            background-color: $primary-45;
            color: white;
            transition: color 0.4s ease, background 0.4s ease;
            
            &:hover{
                background-color: $primary-25;
                color: white;
            }
        }    
        &-neutral{
            padding:8px 20px;
            border-radius:11px ;
            background-color: black;
            color: white;
            transition: color 0.4s ease, background 0.4s ease;
            
            &:hover{
                background-color:white;
                color: black;
            }
        }
        &-danger{
            background-color: #B92D2D;
            padding:8px 20px;
            border-radius:11px ;
            color: white;
            transition: color 0.4s ease, background 0.4s ease;
            
            &:hover{
                background-color:white;
                color: black;
            }
        }
    }
}

// &-danger{
    //     color: $danger-25;
    //     background-color: white;
        //     border: 4px $danger-25 solid ;
        //     }
        
        
        @media screen and (max-width :570px) {
            
            .btn-large{
            padding: 16px 20px;
            min-width: 186px;
            }
            .btn-modal{
                padding: 5.5px 9px;
            }
            .btn-modal-primary{
                padding: 5.5px 9px;
            }
        }
        
        @media screen and (max-width :700px) {
            
            .btn-modal{
                padding: 5.5px 9px;
            }
            .btn-modal-primary{
                padding: 5.5px 9px;
            }
        }
     