@use './../../abstract/' as *;  

.reset-password-form{
    @extend %flex-center-column;
    gap: 120px;
    form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 100px;
        
        
        background: #ffffff;
        border-radius: 35px;
        gap: 40px;
        padding-block: 134px 60px;
        padding-inline: 5vw;

        &>div{
            display: flex;
            align-items: center;
            gap: 10px;
        }
            input{
                height: 3rem;
                border-radius: 6px;
                border: 1px solid #000000;
                padding-inline: 1rem;
                width:  max(280px,40vw);
            }
        .btn-container{
            @extend %flex-center;
            gap: 10px;
        }
        #change_password_form_plainPassword{
            @extend %flex-center-column;
            gap: 10px;
            
            &>div{
                @extend %flex-center-column;
                gap: 10px;
                
                &>ul{
                    width: 50%;
                }
            }
        }
        // ul{
        //     position: absolute;
        //     bottom: 10px;
        //     padding-inline:clamp(1.25rem, -2.49rem + 18.1333vw, 9.75rem);

        // }
    }
}