
@use '../abstract/' as *;


.login{

    
    padding-block:2rem; 
    @extend %flex-center-column;
    gap: 4rem;
    
    
    
    
    h1{
        color : $primary-95
    }
    
        
        form{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;


            background: #ffffff;
            height: 400px;
            width: max(310px, 50vw);
            border-radius: 25px;
            gap: 2rem;

            input{
                height: 3rem;
                border-radius: 10px;
                border: 1px solid #000000;
                padding-inline: 1rem;
                width:  max(280px,40vw);
            }
    }
}