
@use '../abstract/' as *;


.login{

    
        @extend %flex-center-column;
    
    
    
    
    h1{
        font-size: $title-size-48;
        font-family: $title;
        text-align: center;
        margin: 1vw;
    }
    
        
        form{
            background: #ffffff;
            height: 400px;
            width: 50vw;
            margin: 4rem auto;
            border-radius: 25px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: stretch;
            padding-inline: 10rem;
            gap: 2rem;

            button{
                align-self: center;
            }
    }
}