@use '../abstract/' as *;

.manage{
    @extend %flex-center-column;
    padding-bottom: 50px;

    .text-wrapper{
        padding: 50px 20px;
        display: flex;
        justify-content: center;
        align-items: center;

        .text-weight{
            font-family: NunitoExtraBold;
        }

        p{
            text-align: center;
        }
    }

    .grid{
        @extend %flex-center;
        gap: 10vw;
        margin-inline: 2vw;
        margin-bottom: 50px;
        
    }


    
    

    

}

