@use '../abstract/' as *;
// @use '../pages/password/form' as *;

    .container{
        
        padding-block:2rem; 
        gap: 4rem;
        @extend %flex-center-column;
        background: rgba(16, 9, 16, 0.4);
        border: 5px solid #A86BAE;
        backdrop-filter: blur(3.5px);

        /* Note: backdrop-filter has minimal browser support */
        border-radius: 10px;
        
        &form{


        }

        &input{

        }
        &button{
            border: 0;
        }
    }