@use "../../abstract/" as *;

.logs{

    @extend %flex-center-column;
    gap: 4rem;
    padding-block: 3rem;
    
    .log{

        @extend %flex-center-column;
        padding-right:  1rem;
        width: max(300px , 80vw);
        background-color:white;
        border-top-right-radius: 15px ;
        border-bottom-right-radius: 15px ;
        min-height: 100px;
        
        
        &__container{
            @extend %flex-center-column;
            gap: 2rem;
        }

        &__id{
            @extend %flex-center;
            gap: 1rem;
            width: max(300px , 80vw);
            max-width: 98%;
            justify-content: space-between;
            border-bottom: 1px solid black;
            padding-block: 10px;
            
        }
        
        &__date{
            display: flex;
            justify-content: end;
            width: 38%;
        }
        
        &__message{
            width: max(300px, 80vw);
            max-width: 98%;
            padding: 0.5rem 0 ;
        }
    
    }
    //KPN Paginator
    .pagination{
        @extend %flex-center;
        background-color: white;
        border-radius: 5px;
        padding: 10px;
        gap: 0px
    }
    .current{
        @extend %flex-center;
        border: 0.5px solid black;
        padding-inline: 10px;
        padding-block: 2px;
        background-color: #55f;
    }
    .page{
        @extend %flex-center;
        border: 0.5px solid black;
        padding-inline: 10px;
        padding-block: 2px;
    }
    .first, .next, .last, .previous{
        padding-inline: 15px ;
    }

    // Couleurs bordures
    .inscription{
        border-left: 15px solid #cd4af5;
    }
    .connexion{
        border-left: 15px solid #4d4af5;
    }
    .deconnexion{
        border-left: 15px solid #f5974a;
    }
    
    .addmdp{
        border-left: 15px solid #86f49f;
    }
    .modifymdp{
        border-left: 15px solid #f2f486;
    }
    .deletemdp{
        border-left: 15px solid #f49686;
    }
    .modifyuser{
        border-left: 15px solid #dadd14;
    }
    .deleteuser{
        border-left: 15px solid #dd1e14;
    }

    
}