<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{asset("build/app.css")}}">
    <title>{% block title %}Password Manager | {% endblock %}</title>
</head>
    <body>
        
        <header>
        <nav>
            <div class="logo-wrapper">
                <img class="logo" src="{{asset("/image/fleur_okai_logo.png")}}" alt="">
            </div>
            {% if (app.user) %}
                <a class="buttonL button--danger " href="">Déconnexion</a>
            {% else %}
                <a class="buttonL button--primary " href="">Connexion</a>
            {% endif %}
        </nav>
        </header>
        
        <main>
            
            {% block body %}

            {% endblock %}
            
        </main>
        
    </body>
     {% block script %}{% endblock %}
        <footer>
        <a class="mentions" href="">Mentions légales</a>
        </footer>
</html>
