<style>
.main{
    background : fixed linear-gradient(45deg, hsl(225, 97%, 46%) -20%, hsl(225, 61%, 75%) 25%, hsl(295, 29%, 75%));
    height: 200px;
    padding : 25px
}
.header{
    background-color : white;
    display: flex;
    justify-content: center;
    align-items : center;
    flex-direction: column;
}
img{
    width : 100px
}

</style>

<div class="main">
<div class="header">
    <img src="public/image/fleur_okai_logo.png" alt="">
    <h1>Lien de connexion</h1>
</div>

<p>Cliquer sur le <a href="{{ link }}">lien</a> suivant pour accéder à la page d'inscription du gestionnaire de mot de passe Studio Okaï</p>
 
</div>