<style>

.main{
    background : fixed linear-gradient(45deg, hsl(225, 97%, 46%) -20%, hsl(225, 61%, 75%) 25%, hsl(295, 29%, 75%));
    height: 200px;
    padding : 25px
}
.header{
    background-color : black;
    display: flex;
    justify-content: center;
    align-items : center;
    flex-direction: column;
    border-radius: 15px;
}

h1{
    color: white;
}

p{
    background-color: white;
    margin: 25px;
    padding: 15px;
    border-radius: 15px;
}
</style>

<div class="main">

    <div class="header">
        <h1>Lien de connexion</h1>
    </div>

<p>Cliquer sur le <a href="{{ link }}">lien</a> suivant pour accéder à la page d'inscription du gestionnaire de mot de passe Studio Okaï</p>
 
</div>