@use '../../abstract/' as *;

.show-container{
    padding: 50px;
    @extend %flex-center-column;
    gap: 25px;
    
    .card-wrapper{
        @extend %flex-center-column;
        padding: 10px;
        background-color: white;
        border-radius: 15px ;
        z-index: 1;

            .table {
            background-color: white;
            border-collapse: collapse;
            border-color: black;
            border-radius: 15px;
                
                td,th {
                    z-index: 0;
                    padding: 0.7rem;
                    vertical-align: middle;
                    border-block-end: 1px solid black;
                    text-align: center;
                    color: black;
                }
                
                
                td:last-child {
                    color: gray;
                    white-space: nowrap;
                }

        }
    }
    .button-wrapper{
        padding: 20px;
        @extend %flex-center;
        gap: 50px;

        a{
          //  
        }
    }

}