{% extends 'base.html.twig' %}

{% block title %}Password Manager{% endblock %}
            
    {% block body  %}

      <div class="manage">
        <h1 class="titre titre--32" >Espace utilisateur</h1>
            <div class="grid" >
            <a class="button--transparent btn--create" href="#">Créer un mot de passe</a>
            <a class="button--transparent btn--see" href="#">Voir un mot de passe</a>
            <a class="button--transparent btn--verify" href="#">Vérifier un mot de passe</a>
            <a class="button--transparent btn--add" href="#">Ajouter un mot de passe</a>
            </div>
      </div>
      
    {% endblock  %}